<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

    <!-- SEO -->
    <title>Require UI Views</title>

    <!-- ICONS -->
    <link rel="shortcut icon" type="image/ico" href="assets/media/images/favicon.ico" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen, projection" href="assets/styles/modern.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" media="screen, projection" href="assets/styles/legacy.css" />
    <![endif]-->
</head>
<body>
