<div id="myModal"
    class="modal isVisuallyHidden js-modal-target"
    role="dialog"
    aria-labeledby="modal-headline"
    aria-describedby="modal-content"
    tabindex="0">

    <div class="modal-wrapper js-modal-wrapper">
        <div class="modal-wrapper-content">
            <button class="modal-wrapper-content-close js-modal-close" type="button" data-modal-target="myModal">Close</button>
            <h2 id="modal-headline">Title</h2>
            <div id="modal-content">Put modal content here.</div>
        </div>
    </div>

</div>