<div id="myModal"
    class="modal js-modal-target"
    role="dialog"
    aria-labeledby="modal-headline"
    aria-describedby="modal-content"
    aria-live="off"
    tabindex="0">

    <div class="modal-wrapper js-modal-wrapper">
        <div class="modal-wrapper-content">
            <button class="modal-wrapper-content-close js-modal-close" type="button" data-modal-target="myModal">Close</button>
            <h2 id="modal-headline">Title</h2>
            <div id="modal-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod optio deleniti reiciendis modi praesentium nihil iusto qui eligendi fugit necessitatibus nam hic et unde officia vel, dolorum, voluptate. Amet, molestiae?</div>
        </div>
    </div>

</div>