/* ---------------------------------------------------------------------
 Body
------------------------------------------------------------------------ */
body {

}

/* ---------------------------------------------------------------------
 Link Styles
------------------------------------------------------------------------ */
a {
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Responsive Media
------------------------------------------------------------------------ */
img,
picture,
canvas,
audio,
video {
    max-width: 100%;
}