/* ---------------------------------------------------------------------
 Modal
------------------------------------------------------------------------ */
// When the modal is active, hide overflow to avoid double scrollbars
// .hasModal is added via ModalView.js
html.hasModal {
    overflow: hidden;
}

.sneezeguard {
    position: fixed; // fixed to window using conflicting positioning in order to fill screen
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none; // by default, the sneezeguard is hidden
    background-color: #000000; // lte IE8 fallback
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 900; // Intended to be placed above all site content
    @include opacity(0);
    // @include transition(1s linear opacity); TODO: add check for csstransitions in js
}

// isActive class applied via ModalView.js
.sneezeguard.isActive {
    display: block;
    @include opacity(1);
}

.modal {
    position: fixed; // fixed to window using conflicting positioning in order to fill screen
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none; // by default, the modal is hidden
    overflow-x: auto;
    overflow-y: scroll;
    z-index: 1000; // Intended to be placed above sneezeguard
    @include opacity(0);
    // @include transition(1s linear opacity); TODO: add check for csstransitions in js
}

// isActive class applied via ModalView.js
.modal.isActive {
    display: block;
    @include opacity(1);
}

.modal-wrapper {
    left: 50%;
    width: 616px;
    margin: 26px auto;
    padding: 18px 0;
    background: #ffffff;
    @include box-sizing(border-box);
}

.modal-wrapper-content {
    position: relative; // allows for absolute positioning of close button
    max-width: 580px;
    margin: 0 auto;
    padding: 18px;
    @include box-sizing(border-box);
}